# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Logs
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Data files (optional, if data is local)
data/
*.csv
*.tsv
*.xlsx
*.npy
*.npz

# Trained models
*.pt
*.pth
*.pkl
models/
Tuned_Models/

# ML experiment tracking
mlruns/
.dvc/
dvc.lock

# IDE/editor configs
.vscode/
.idea/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# OS junk
.DS_Store
Thumbs.db
